<div class="list">
  <% if message.body %>
    <% people = People.find(message.people_id) %>


    <%message.message_time%>
    <%"start-"%>
    <%@last_message_time%>
    <%"mid-"%>
    <%message.message_time.to_i %>
    <%"end-"%>


    <% @last_message_time = (@last_message_time || 0) %>
    <%="current user is " + current_user.username%>

    <% if message.message_time.to_i - @last_message_time > 120 %>
      <div class="center"><%= message.message_time.strftime("%m/%d/%y at %l:%M %p") %></div><br/>
      <% @last_message_time = message.message_time.to_i %>
    <% end %>
      <% if people.id == current_user.id %>
        <% if @last_user_id != people.id %>
            <div class="right-message"> <strong><%= people.username %></strong></div><br/>
            <% @last_user_id = people.id %>
        <% end %>
        <div class="bubbledRight"><%= message.body %></div><br/><br/>
      <% else %>
        <% if @last_user_id != people.id %>
          <div class="left-message"><strong><%= people.username %></strong></div><br/>
          <% @last_user_id = people.id %>
        <% end %>
        <div class="bubbledLeft"><%= message.body %></div><br/><br/>
      <% end %>
    <% end %>
</div>