<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<br />Chat History<br />

<div class="field", name="history", id="history">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% people = People.find(message.people_id) %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= people.username %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<br />Message<br /><br />

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>

  <div class="field",  name="msg_body">
    <%= f.text_area :body, class: "form-control" %>

  </div>
    <%= f.text_field :people_id, value: current_user.id, type: "hidden"  %>
    <% if @conversation.recipient_id == current_user.id%>
        <%@other_id = @conversation.sender_id%>
    <% else %>
        <%@other_id = @conversation.recipient_id%>
    <% end %>
    <% @help_with=People.find(@other_id).helpability%>

  </div>
    <% if !@help_with.blank? %>
      <%="Available to help with: " + (@help_with.to_s) %><br />
      <%="Please only choose at most one help"%><br />
      <%=check_box 'resume', 'requested', disabled: !@help_with.include?("resume")%> Resume<br />
      <%=check_box 'interview', 'requested', disabled: !@help_with.include?("interview")%> Mock Interview<br />
      <%=check_box 'Submit referral', 'requested', disabled: !@help_with.include?("Submit referral")%> Submit referral<br />
      <%=check_box 'Company tour', 'requested', disabled: !@help_with.include?("Company tour")%> Company tour<br />
    <% end %>
    <% if flash[:notice] %>
        <div class="notice" id="notice"><%=flash[:notice] %></div>
    <% end %>
  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>

<% end %>
