<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% people = People.find(message.people_id) %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= people.username %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>g
  <% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :people_id, value: current_user.id, type: "hidden"  %>
    <% @help_with=People.find(@conversation.recipient_id).helpability%>
  </div>
    <% if !@help_with.blank? %>
      <%="Available to help with: " + (@help_with.to_s) %><br />
      <%="Please only choose at most one help"%><br />
      <%=check_box 'resume', 'requested', disabled: !@help_with.include?("resume"), type:"radio"%> Resume<br />
      <%=check_box 'interview', 'requested', disabled: !@help_with.include?("interview"), type:"radio"%> Mock Interview<br />
      <%=check_box 'Submit referral', 'requested', disabled: !@help_with.include?("Submit referral"), type:"radio"%> Submit referral<br />
      <%=check_box 'Company tour', 'requested', disabled: !@help_with.include?("Company tour"), type:"radio"%> Company tour<br />
    <% end %>
  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>

<% end %>
