<div class="header">
  <% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
  <% end %>
</div>

<% if @conversation.recipient_id == current_user.id%>
    <%@other_id = @conversation.sender_id%>
<% else %>
    <%@other_id = @conversation.recipient_id%>
<% end %>
<% @show_checkbox = ((@conversation.help_status=="Reject") or (@conversation.help_status=="Done") or (@conversation.help_status==""))%>
<% @show_options = (((@conversation.help_status=="Pending") or (@conversation.help_status=="Accept")) and (@conversation.requester!=current_user.id))%>


<div class="header">
  <strong>Talking to: <%=People.find(@other_id).username%></strong><br/><br/>


  <% if @conversation.help_status != "" %>
      <% if @conversation.requester == current_user.id%>
          <%@requester_name = "me"%>
      <% else %>
          <%@requester_name = People.find_by_id(@conversation.requester).username%>
      <% end %>
      Helped <%=@requester_name %>
      with request <strong><% if @conversation.help_type%><%=@conversation.help_type%><% end %></strong>
      <br/>Help Status: <strong><% if @conversation.help_status%><%=@conversation.help_status%><% end %></strong><br/><br/>
  <%end%>

</div>

<div class="field", name="history", id="history">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% people = People.find(message.people_id) %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= people.username %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<br />Message<br /></br>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>

    <div class="field",  name="msg_body">
    <%= f.text_area :body, class: "form-control" %>
    </div>

  <div class="field">
    <%= f.text_field :people_id, value: current_user.id, type: "hidden"  %>
    <% if @conversation.recipient_id == current_user.id%>
        <%@other_id = @conversation.sender_id%>
    <% else %>
        <%@other_id = @conversation.recipient_id%>
    <% end %>
  </div>

  <div class="field">
    <% if @show_checkbox%>

        <% @help_with=People.find(@other_id).helpability%>
        <% if @help_with%>
          <%="Available to help with: " + (@help_with.to_s) %><br/>
          <%="Please only choose at most one help"%><br/>
        <ul>
          <% People.all_helps.each do |help| %>
              <li>
                <%= check_box_tag "helps[#{help}]", 1, false, disabled: !@help_with.include?(help) && help != "general advice", :id => "helps_#{help}" -%>
                <%= h help -%>
              </li>
          <% end %>
        </ul>
        <% end %>

    <% end %>


    <% if flash[:notice] %>
        <div class="notice" id="notice"><%=flash[:notice] %></div>
    <% end %>
    
  </div>

    <div class="field">
      <% if @show_options%>
          <li>(Message is optional)</li>
          <% People.mentor_response.each do |r| %>
              <li>
                <%= check_box_tag "responds[#{r}]", 1, false, disabled: ((@conversation.help_status == "Pending" and r == "Done") or (@conversation.help_status == "Accept" and r != "Done")), :id => "responds#{r}" -%>
                <%= h r -%>
              </li>
          <% end %>
      <% end %>
    </div>

  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>

<% end %>




