<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<br />Chat History<br />

<div class="field", name="history", id="history">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% people = People.find(message.people_id) %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= people.username %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<br />Message<br /><br />

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>

  <div class="field",  name="msg_body">
    <%= f.text_area :body, class: "form-control" %>
  </div>


  <div class="field">
    <%= f.text_field :people_id, value: current_user.id, type: "hidden"  %>
    <% if @conversation.recipient_id == current_user.id%>
        <%@other_id = @conversation.sender_id%>
    <% else %>
        <%@other_id = @conversation.recipient_id%>
    <% end %>

    <% @help_with=People.find(@other_id).helpability%>

  </div>

  <div class="field">
    <%="Available to help with: " + (@help_with.to_s) %><br/>
    <%="Please only choose at most one help"%><br/>

    <ul>
      <% People.all_helps.each do |help| %>
          <li>
            <%= check_box_tag "helps[#{help}]", 1, false, disabled: !@help_with.include?(help) && help != "other", :id => "helps_#{help}" -%>
            <%= h help -%>
          </li>
      <% end %>
    </ul>

    <% if flash[:notice] %>
        <div class="notice" id="notice"><%=flash[:notice] %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>

<% end %>
