<div class="header">
  <% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
  <% end %>
</div>

<% if @conversation.recipient_id == current_user.id%>
    <%@other_id = @conversation.sender_id%>
<% else %>
    <%@other_id = @conversation.recipient_id%>
<% end %>
<% @show_checkbox = ((@conversation.help_status=="Reject") or (@conversation.help_status=="Done") or (@conversation.help_status==""))%>
<% @show_options = (((@conversation.help_status=="Pending") or (@conversation.help_status=="Accept")) and (@conversation.requester!=current_user.id))%>


<div class="header">
  <strong>Talking to: <%=People.find(@other_id).username%></strong><br/><br/>


  <% if @conversation.help_status != "" %>
      <% if @conversation.requester == current_user.id%>
          <%@requester_name = "me"%>
      <% else %>
          <%@requester_name = People.find_by_id(@conversation.requester).username%>
      <% end %>
      Helped <%=@requester_name %>
      with request <strong><% if @conversation.help_type%><%=@conversation.help_type%><% end %></strong>
      <br/>Help Status: <strong><% if @conversation.help_status%><%=@conversation.help_status%><% end %></strong><br/><br/>
  <%end%>

</div>

<div class="field", name="history", id="history">
  <div class="commentArea">
  <% @last_user="" %>
  <% @last_message_time=-99999999 %>


    <% @messages.each do |message| %> <br/>
    <div class="list">
      <% if message.body %>
        <% people = People.find(message.people_id) %>
        <% if message.message_time.to_i - @last_message_time > 600 %>
          <div class="center"><%= message.message_time.strftime("%m/%d/%y at %l:%M %p") %></div><br/>
          <% @last_message_time = message.message_time.to_i %>
        <% end %>
          <% if people == current_user %>
            <% if @last_user != people %>
                <div class="right-message"> <strong><%= people.username %></strong></div><br/>
                <% @last_user = people %>
            <% end %>
            <div class="bubbledRight"><%= message.body %></div><br/><br/>
          <% else %>
            <% if @last_user != people %>
              <div class="left-message"><strong><%= people.username %></strong></div><br/>
              <% @last_user = people %>
            <% end %>
            <div class="bubbledLeft"><%= message.body %></div><br/><br/>
          <% end %>
        <% end %>
      <% end %>
  </div>
  </div>
</div>

<br /><br /></br>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_field :people_id, value: current_user.id, type: "hidden"  %>
      <% if @conversation.recipient_id == current_user.id%>
          <%@other_id = @conversation.sender_id%>
      <% else %>
          <%@other_id = @conversation.recipient_id%>
      <% end %>
    </div>

    <div class="field",  name="msg_body">
      <%= f.text_area :body, class: "form-control", placeholder:"Reply to #{People.find_by_id(@other_id).username}"%> </div>

  <div class="field">
    <% if @show_checkbox%>
        <% @is_mentor=(People.find(@other_id).role == "mentor")%>
        <% if @is_mentor%>
          <!-- <% @help_with=People.find(@other_id).helpability%> -->
          <% @all_help_type=[]%>
          <% People.find(@other_id).helpability.each do |help| %>
            <% if help != ""%>
              <% @all_help_type.push(help) %>
            <% end %>
          <% end %>
          <% if @all_help_type != []%>
            <%="Available to help with: " + @all_help_type.to_s %><br/>
          <% else %>
            <%="Available to help with: " + '["General Help"]'.to_s %><br/>
          <% end %>
          <%="Please only choose at most one help"%><br/>
        <ul>
          <% People.all_helps.each do |help| %>
              <li>
                <%= check_box_tag "helps[#{help}]", 1, false, disabled: !@help_with.include?(help) && help != "general advice", :id => "helps_#{help}" -%>
                <%= h help -%>
              </li>
          <% end %>
        </ul>
        <% end %>
    <% end %>


    <% if flash[:notice] %>
        <div class="notice" id="notice"><%=flash[:notice] %> </div>
    <% end %>

  </div>

    <div class="field">
      <% if @show_options%>
        <% if @conversation.help_status == "Pending" %>
          <br/><br/><%= f.submit "Accept", class: "ui huge green submit icon button" %> <%= f.submit "Reject", class: "ui huge red submit icon button" %><br/><br/>
        <% elsif @conversation.help_status == "Accept" %>
          <br/><br/><%= f.submit "Mark as Done", class: "ui huge grey submit icon button" %>  <%= f.submit "Send", class: "ui huge blue submit icon button" %>
        <% end %>
      <% else %>
        <%= f.submit "Send", class: "ui huge blue submit icon button" %>
      <% end %>
    </div>
<% end %>
