.container
  .row
    .col-md-12
      %h3.text-center
        %strong COMPANIES
    .col-md-3.mb-5.col-sm-3
      = link_to search_path(:search=>"amazon",:type=>"company") do
        %img{:height => "100", :src => "https://s3.us-east-2.amazonaws.com/calumni-cs169/company/amazon.jpg",:alt=>"amazon"}/
    .col-md-3.mb-5.col-sm-3
      = link_to search_path(:search=>"google",:type=>"company") do
        %img{:height => "100", :src => "https://s3.us-east-2.amazonaws.com/calumni-cs169/company/google.png",:alt=>"google"}/
    .col-md-3.mb-5.col-sm-3
      = link_to search_path(:search=>"fb",:type=>"company") do
        %img{:height => "100", :src => "https://s3.us-east-2.amazonaws.com/calumni-cs169/company/fb.png",:alt=>"fb"}/
    .col-md-3.mb-5.col-sm-3
      = link_to search_path(:search=>"snap",:type=>"company") do
        %img{:height => "100", :src => "https://s3.us-east-2.amazonaws.com/calumni-cs169/company/snap.png",:alt=>"snapchat"}/
  %hr


.container
  .row
    .col-md-12
      %h3.text-center
        %strong MENTORS
    .col-md-3.col-sm-4.details
      .panel.panel-default
        .panel-body
          %a.ratio.img-responsive.img-circle{:href => "#{@mentor1.first.url}", :style => "background-image: url(#{@mentor1.first.avatar});"}
        / List group
        %ul.list-group
          %li.list-group-item #{@mentor1.first.username}
          %li.list-group-item #{@mentor1.first.position}
          %li.list-group-item #{@mentor1.first.company}
    .col-md-3.col-sm-4.details
      .panel.panel-default
        .panel-body
          %a.ratio.img-responsive.img-circle{:href => "#{@mentor2.first.url}", :style => "background-image: url(#{@mentor2.first.avatar});"}
        / List group
        %ul.list-group
          %li.list-group-item #{@mentor2.first.username}
          %li.list-group-item #{@mentor2.first.position}
          %li.list-group-item #{@mentor2.first.company}
    .col-md-3.col-sm-4.details
      .panel.panel-default
        .panel-body
          %a.ratio.img-responsive.img-circle{:href => "#{@mentor3.first.url}", :style => "background-image: url(#{@mentor3.first.avatar});"}
        / List group
        %ul.list-group
          %li.list-group-item #{@mentor3.first.username}
          %li.list-group-item #{@mentor3.first.position}
          %li.list-group-item #{@mentor3.first.company}
    .col-md-3.col-sm-4.details
      .panel.panel-default
        .panel-body
          %a.ratio.img-responsive.img-circle#sam{:href => "#{@mentor4.first.url}", :style => "background-image: url(#{@mentor4.first.avatar});"} 
        / List group
        %ul.list-group
          %li.list-group-item #{@mentor4.first.username}
          %li.list-group-item #{@mentor4.first.position}
          %li.list-group-item #{@mentor4.first.company}
  %hr

