%h1 home page
/ display username, need fix. and use dropdown menu
%h2 Hi, #{cookies[:email]}

-# / %h2 Hi, #{@people.first.username} /	
-#if signin, display name. else, display signin
- if cookies[:email]
	= link_to 'Profile', profile_path
	= link_to 'Logout', logout_path
- else
	= link_to 'Signin', signup_path
%h1 should use a navigation bar
%h2 Student Alumni Network
%h2 display the search bar

= form_tag search_path, method: :get do
	
	= label_tag :search, "Search_Box" 
	= text_field_tag :search, params[:search]
	
	= submit_tag "Search"


%h2 display the company icon

%tr
	%td= link_to "Google", search_path
	%td= link_to "Facebook", search_path
	%td= link_to "Amazon", search_path
	%td= link_to "Apple", search_path

%h2 display the mentor icon
%tr
	%td= link_to "Test_user1", search_path
	%td= link_to "Test_user2", search_path
	%td= link_to "Test_user3", search_path