.container
  .fb-profile
    %img.fb-image-lg{:align => "left", :alt => "cover example", :src => "http://liaokeyu.com/assets/img/hero.jpg", :width=>"100",:height=>"250"}/
    %img.fb-image-profile.thumbnail{:align => "left", :alt => "Not set avatar yet", :src => @people.first.avatar}/
    .fb-profile-text
      .username #{@people.first.username}
      .edit 
      = link_to 'Edit', edit_profile_path



%div{:class=>"container-fluid", :id=>"Company"}
  %div{:class=>"row"}
    %div{:class=>"container"}
      .col-md-9.col-lg-9
        %table.table.table-user-information
          %tbody
            %tr
              %td Username
              %td #{@people.first.username}
            %tr
              %td Description:
              %td #{@people.first.description}
            
            %tr
              %td Start date:
              %td #{@people.first.start_date}
            %tr
              %td Graduation date:
              %td #{@people.first.graduation_date}
            
            %tr
            - if @people.first.role =='mentor'
              %td Company:
              %td #{@people.first.company}
            %tr
            - if @people.first.role =='mentor'
              %td Position:
              %td #{@people.first.position}
            %tr
            - if @people.first.role =='mentor'
              %td Help with:
              %td #{@people.first.helpability}

            %tr
              - if @people.first.resume.url != '/resumes/original/missing.png'
                %iframe{:width => 320, :height =>480, :src => @people.first.resume.url, :frameborder =>"0"}
            / %tr
            / - if @people.first.role =='mentee'
            /   = link_to 'BecomeMentor', become_mentor_path



