%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      = link_to "Calumni", home_path, id: "logo"
      .input-group-btn.navbar-form.navbar-left
        = form_tag search_path, :method => 'get', class: 'input-group'   do
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Name, Company '
          = submit_tag "Search", class: "btn btn-default"

      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Home",   home_path
        %li= link_to "Help",   '#'
        - if not cookies[:email]
          %li= link_to "Log in", signup_path
        - else
          / display dropdown
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = cookies[:lastname]
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Profile",profile_path
              %li= link_to "Message",conversations_path
              %li.divider{:role => "separator"}
              %li= link_to "Logout",logout_path
