<!DOCTYPE html>
<html>
<head>
  <title>Calumni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" %> -->
<!--   <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.js" %>
 -->  
  <%= javascript_include_tag "http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js" %> 
 <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js" %>
 <%= javascript_include_tag "bootstrap3-typeahead.min.js" %>
 <%= javascript_include_tag "search.js" %>


  <%= csrf_meta_tags %>
</head>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.js"></script>
 -->
<body>

<div class="container-fluid">
<%= render "common/navbar" %>
  <%= yield %>
</div>
<%= render "common/footer" %>





</body>
</html>
