<%= include_sync_config %>

<!DOCTYPE html>
<html>
<head>
  <title>Calumni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js" %>
  <%= javascript_include_tag "bootstrap3-typeahead.min.js" %>
  <%= javascript_include_tag "search.js" %>
  <%= include_sync_config %>


  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
<%= render "common/navbar" %>
  <%= yield %>
</div>
<%= render "common/footer" %>





</body>
</html>
